body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9fafb;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #5a67d8;  
}

h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #4a5568;  
}

button, input {
    display: block;
    width: calc(100% - 40px);
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #a0aec0;  
    border-radius: 5px;
    box-sizing: border-box;
    transition: background-color 0.3s, border-color 0.3s;
}

input {
    background-color: #edf2f7;  
}

button {
    background-color: #5a67d8;  
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #4c51bf;  
    border-color: #4c51bf;
}

#output {
    margin-top: 20px;
    text-align: left;
    padding: 10px;
    background-color: #edf2f7; 
    border: 1px solid #a0aec0;  
    border-radius: 5px;
}

#connectMetamaskBtn {
    margin-top: 20px;
    background-color: #ffd700; 
    border: none;
}

#connectMetamaskBtn:hover {
    background-color: #e6c200;  
}
